@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  padding-top: 56px;
  font-size: 10px;
}

:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fafafa;
  --heading-color: #fff;
  --icon-color: #000000;
}

[data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #ffffff;
  --bg-color: #000000;
  --heading-color: #1a1a1a;
  --icon-color: #fff;
}

.header {
  background-color: var(--heading-color);
  left: 0;
  top: 0;
  padding: 8px 16px;
  width: 100%;
  height: 56px;
  position: fixed;
  box-shadow: 0 1px 0 rgb(0, 0, 0, 0.1);
  z-index: 9999;
}

.header .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 130px;
  cursor: pointer;
}

.header__message {
  font-size: 16px;
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 760px;
  overflow: hidden;
}

.stories__list {
  list-style: none;
  padding: 8px 16px;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.stories__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 64px;
  width: 64px;
  padding: 0.1rem;
}

.stories__item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.stories__image {
  position: relative;
  width: auto;
  height: 100%;
  padding: 0;
  border: 0.18rem solid var(--heading-color);
  border-radius: 100%;
}

.stories__item + .stories__item {
  margin-left: 21px;
}

.stories__item--active {
  background-image: linear-gradient(270deg, #ab248a 0%, #f29c4f 100%);
}

.feed,
.container {
  max-width: 728px;
  width: 90%;
  margin: 0 auto;
}

.post__card {
  display: flex;
  flex-direction: column;
  background-color: var(--heading-color);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden;
}

.post__header {
  background-color: var(--heading-color);
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__profile {
  display: flex;
  align-items: center;
}

.post__profile img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}

.post__user-name {
  font-weight: bold;
  text-decoration: none;
  color: var(--icon-color);
  font-size: 12px;
  padding: 0px 10px;
  cursor: pointer;
}

.post__options i {
  cursor: pointer;
  font-size: 15px;
  padding: 0px 10px;
  color: var(--icon-color);
}

.post__figure {
  width: 100%;
}

.post__figure img {
  width: 100%;
}

.post__reactions {
  background-color: var(--heading-color);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 0;
}

.post__button {
  font-size: 24px;
  margin: 0 8px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.post__button:last-of-type {
  justify-self: flex-end;
  margin-left: auto;
}

.user {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: flex;
  align-items: center;
}

.user__photo {
  width: 40px;
  border-radius: 100%;
  cursor: pointer;
}

.user__likes {
  padding: 0px 10px;
  font-size: 12px;
}

.user__likes a {
  text-decoration: none;
  color: var(--icon-color);
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: -1px;
  content: "";
  height: 26px;
  left: 0px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark_mode {
  padding-bottom: 25px;
}
